.form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  .form__input,
  .form__item {
    width: calc(50% - 6px);
    padding: 8px;
    border: 1px solid #000;
  }
  .form__description {
    padding: 8px;
    width: 100%;
    resize: none;
    border: 1px solid #000;
  }

  .form__item {
    width: 40%;
    display: flex;
    gap: 0 5px;
    position: relative;
    align-items: center;
  }

  .form__item-input {
    flex-grow: 1;
    width: 100%;
  }

  .form__calendar-button {
    cursor: pointer;
    height: 24px;

    &:hover svg {
      stroke: #4e4ef4;
    }
  }

  .form__button {
    cursor: pointer;
    stroke: #000;

    &:hover {
      stroke: #4e4ef4;
    }
  }
}
