.form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  .form__input,
  .form__item {
    max-width: calc(50% - 6px);
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #000;
  }
  .form__description {
    padding: 8px;
    width: 100%;
    resize: none;
    border: 1px solid #000;
  }

  .form__item {
    width: 40%;
    display: flex;
    gap: 0 5px;
    position: relative;
    align-items: center;
  }

  .form__item-input {
    flex-grow: 1;
    width: 100%;
  }

  .form__calendar-button {
    height: 24px;
  }

  .form__button,
  .form__edit,
  .form__calendar-button  {
    stroke: #000;
    cursor: pointer;
    &:hover {
      stroke: #4e4ef4;
    }
  }
  .form__close-edit {
    cursor: pointer;
    stroke: #000;

    &:hover {
      stroke: red;
    }
  }
}
