.list {
  height: 300px;
  padding-right: 20px;
  margin-top: 10px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;
  }

  &::-webkit-scrollbar-corner {
    background-color: gray;
  }

  .list__item {
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 5px;
  }

  .list__item-bottom {
    overflow: hidden;
  }

  .list__description {
    padding: 10px;
  }

  .list__item-top {
    width: 100%;
    display: flex;
    gap: 0 20px;
    align-items: center;
    padding: 10px;
  }

  .list__button-arrow {
    height: 24px;
    stroke: #000;

    &:hover {
      stroke: #4e4ef4;
    }
  }

  .list__date {
    margin-left: auto;
  }

  .list__edit {
    &:hover {
      fill: #4e4ef4;
    }
  }

  .list__delete {
    &:hover {
      fill: red;
    }
  }
}
